@model IEnumerable<ChinChunPetShop.Models.Entity.DonHang>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenNguoiNhan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaChiGiaoHang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SDTNguoiNhan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhiGiaoHang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayMuaHang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayNhanHang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GhiChu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoaiDH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThanhToan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaKHNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaNVNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaPTTTNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaTTDHNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenNguoiNhan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChiGiaoHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SDTNguoiNhan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhiGiaoHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayMuaHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayNhanHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GhiChu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoaiDH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThanhToan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaKHNavigation.MaKH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaNVNavigation.MaNV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaPTTTNavigation.MaPTTT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaTTDHNavigation.MaTTDH)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaDH">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaDH">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaDH">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
