@model IEnumerable<ChinChunPetShop.Models.ViewModel.CTKhachHang>

@{
    ViewData["Title"] = "Quản lý Khách hàng";
    ViewBag.Mess = ViewBag.message;
    ViewBag.active = "KhachHang";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-content-center mb-3">
                    <div>
                        <h4 class="card-title fw-bold fs-3">Danh sách khách hàng</h4>
                        <h6 class="card-subtitle">
                            
                        </h6>
                    </div>
                    <div class="d-flex align-items-center">
                        @if (!string.IsNullOrEmpty(ViewBag.makh) || !string.IsNullOrEmpty(ViewBag.hoten) || !string.IsNullOrEmpty(ViewBag.diachi) || !string.IsNullOrEmpty(ViewBag.sdt) || !string.IsNullOrEmpty(ViewBag.email) || !string.IsNullOrEmpty(ViewBag.diemmin) || !string.IsNullOrEmpty(ViewBag.diemmax) || ViewBag.trangthai!=null)
                        {
                            <div class="col me-3 text-info fw-bold">
                                Đã áp dụng bộ lọc
                            </div>
                        }
                        <div>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#boloc_khachhang">Lọc nâng cao</button>
                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                    <table id="table_database" class="table border table-striped table-bordered text-nowrap"
                           style="width:100%">
                        <thead>
                            <tr>
                                <th class="fw-bold">Mã khách hàng</th>
                                <th class="fw-bold">Họ tên</th>
                                <th class="fw-bold">Địa chỉ email</th>
                                <th class="fw-bold">Số điện thoại</th>
                                <th class="fw-bold">Ngày sinh</th>
                                <th class="fw-bold">Giới tính</th>
                                <th class="fw-bold">Địa chỉ</th>
                                <th class="fw-bold">Điểm</th>
                                <th class="fw-bold">Mật khẩu</th>
                                <th class="fw-bold">Ngày tạo tài khoản</th>
                                <th class="fw-bold">Xác thực email</th>
                                <th class="fw-bold">Trạng thái</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var kh in Model)
                                {
                                    <tr>
                                        <td><a href="~/admin/nhanvien/@kh.MaKH">@kh.MaKH</a></td>
                                        <td>@kh.HoTen</td>
                                        <td>@kh.Email</td>
                                        <td>@kh.SDT</td>
                                        <td>@kh.NgaySinh</td>
                                        <td>@kh.GioiTinh</td>
                                        <td>@kh.DiaChi</td>
                                        <td>@(kh.Diem??0)</td>
                                        <td>@kh.MatKhau</td>
                                        <td>@kh.NgayTaoTK</td>
                                        <td>@kh.XacThucEmail</td>
                                        <td>
                                            <form method="post" action="~/khachhang/capnhattrangthai"> <input type="hidden" name="makh" value="@kh.MaKH" /> <select class="form-select" id="trangthai" name="trangthai" onchange="this.form.submit()"> <option selected=@(kh.TrangThai == true ? "selected" : null) value="true">Hoạt động</option> <option selected=@(kh.TrangThai == false ? "selected" : null) value="false">Khoá tài khoản</option> </select> <input type="hidden" name="next" value="~/admin/khachhang?trangthai=@ViewBag.trangthai?&&makh=@ViewBag.makh&hoten=@ViewBag.hoten&email=@ViewBag.email&&sdt=@ViewBag.sdt&&diachi=@ViewBag.diachi&&diemmin=@ViewBag.diemmin&&diemmax=@ViewBag.diemmax" /> </form>
                                        </td>

                                    </tr>
                                }

                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Mã khách hàng</th>
                                <th>Họ tên</th>
                                <th>Địa chỉ email</th>
                                <th>Số điện thoại</th>
                                <th>Ngày sinh</th>
                                <th>Giới tính</th>
                                <th>Địa chỉ</th>
                                <th>Điểm</th>
                                <th>Mật khẩu</th>
                                <th>Ngày tạo tài khoản</th>
                                <th>Xác thực email</th>
                                <th>Trạng thái</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="boloc_khachhang" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fw-bold" id="exampleModalLabel">Tìm kiếm nâng cao</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form_khachhang">
                    <div class="row mb-3">
                        <div class="col-sm-4">
                            <label for="makh" class="col-form-label fw-bold">Mã khách hàng:</label>
                            <input type="text" class="form-control" id="makh" name="makh" value="@(ViewBag.makh??"")">
                        </div>
                        <div class="col-sm-4">
                            <label for="hoten" class="col-form-label fw-bold">Họ tên khách hàng:</label>
                            <input type="text" class="form-control" id="hoten" name="hoten" value="@(ViewBag.hoten??"")">
                        </div>
                        <div class="col-sm-4">
                            <label for="trangthai" class="col-form-label fw-bold">Trạng thái tài khoản:</label>
                            <select name="trangthai" id="trangthai" class="form-control">
                                <option value=null>-- Tất cả --</option>
                                <option value="true" selected="@(ViewBag.trangthai == true? "selected" : null)">Đang hoạt động</option>
                                <option value="false" selected="@(ViewBag.trangthai == false? "selected" : null)">Bị khóa</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-4">
                            <label for="email" class="col-form-label fw-bold">Địa chỉ email:</label>
                            <input type="text" class="form-control" id="email" name="email" value="@(ViewBag.email??"")">
                        </div>
                        <div class="col-sm-4">
                            <label for="sdt" class="col-form-label fw-bold">Số điện thoại:</label>
                            <input type="text" class="form-control" id="sdt" name="sdt" value="@(ViewBag.sdt??"")">
                        </div>
                        <div class="col-sm-4">
                            <label for="diachi" class="col-form-label fw-bold">Địa chỉ:</label>
                            <input type="text" class="form-control" id="diachi" name="diachi" value="@(ViewBag.diachi??"")">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-6">
                            <label for="giamin" class="col-form-label fw-bold">Điểm thấp nhất:</label>
                            <input type="number" min="0" class="form-control" id="giamin" name="diemmin" value="@(ViewBag.diemmin??"")">
                        </div>
                        <div class="col-sm-6">
                            <label for="giamax" class="col-form-label fw-bold">Điểm cao nhất:</label>
                            <input type="number" min="0" class="form-control" id="giamax" name="diemmax" value="@(ViewBag.diemmax??"")">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <a class="btn btn-danger" href="~/admin/khachhang">Xóa bộ lọc</a>
                <button type="button" class="btn btn-primary" onclick="document.getElementById('form_khachhang').submit();">Áp dụng</button>
            </div>
        </div>
    </div>
</div>
